*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font);
  background: var(--bg);
  color: var(--text-primary);
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: background var(--transition), color var(--transition);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: var(--font);
}

img,
svg {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
